<body style="background-color:FCFDC5;">
<h1 style="font-family:arial; text-align:center; color:A03719">Editando Restaurante</h1>
</body>

<center>
<%= render 'form' %>

<%= link_to 'Mostrar', @restaurante %> |
<%= link_to 'Volver', restaurantes_path %>
</center>