<body style="background-color:FCFDC5;">
<h1 style="font-family:arial; text-align:center; color:A03719">Nuevo Teléfono</h1>
</body>
<center>
<%= render 'form' %>
</center>

<center>
<%= link_to 'Volver', telefonos_path %>
</center>
