<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre provincia:</strong>
  <%= @provincium.nombre_provincia %>
</p>

<%= link_to 'Edit', edit_provincium_path(@provincium) %> |
<%= link_to 'Back', provincia_path %>
